<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.azkj.noopsyche.dao.EnterMapper" >
  <resultMap id="BaseResultMap" type="com.azkj.noopsyche.entity.Enter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="identityurl" property="identityurl" jdbcType="VARCHAR" />
    <result column="businessurl" property="businessurl" jdbcType="VARCHAR" />
    <result column="iphone" property="iphone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, token, identityurl, businessurl, iphone, name, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from enter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from enter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.azkj.noopsyche.entity.Enter" >
    insert into enter (id, token, identityurl, 
      businessurl, iphone, name, 
      type)
    values (#{id,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR}, #{identityurl,jdbcType=VARCHAR}, 
      #{businessurl,jdbcType=VARCHAR}, #{iphone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.azkj.noopsyche.entity.Enter" >
    insert into enter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="identityurl != null" >
        identityurl,
      </if>
      <if test="businessurl != null" >
        businessurl,
      </if>
      <if test="iphone != null" >
        iphone,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="identityurl != null" >
        #{identityurl,jdbcType=VARCHAR},
      </if>
      <if test="businessurl != null" >
        #{businessurl,jdbcType=VARCHAR},
      </if>
      <if test="iphone != null" >
        #{iphone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azkj.noopsyche.entity.Enter" >
    update enter
    <set >
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="identityurl != null" >
        identityurl = #{identityurl,jdbcType=VARCHAR},
      </if>
      <if test="businessurl != null" >
        businessurl = #{businessurl,jdbcType=VARCHAR},
      </if>
      <if test="iphone != null" >
        iphone = #{iphone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azkj.noopsyche.entity.Enter" >
    update enter
    set token = #{token,jdbcType=VARCHAR},
      identityurl = #{identityurl,jdbcType=VARCHAR},
      businessurl = #{businessurl,jdbcType=VARCHAR},
      iphone = #{iphone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>